/* Media queries */
@media screen and (max-width: 480px) {
  .containerTablet {
    width: 90% !important; /* Added !important to ensure specificity */
  }

  .logoTablet {
    display: none !important; /* Added !important to ensure specificity */
  }

  .buttonTablet {
    position: absolute !important;
    bottom: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .containerTablet {
    width: 90% !important; /* Added !important to ensure specificity */
  }

  .logoTablet {
    display: none !important; /* Added !important to ensure specificity */
  }

  .buttonTablet {
    position: absolute !important;
    bottom: 10px !important;
  }
}

/* Root class */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.container {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 80%;
  display: flex;
  overflow: hidden;
}

.containerTablet {
  width: 90%; /* Added !important to ensure specificity */
}

/* Sidebar */
.sidebar {
  flex: 1;
  background-color: #3e3c61;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #2f2d52;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
}

.logo {
  font-weight: bold;
}

.logoTablet {
  display: none; /* Added !important to ensure specificity */
}

.user {
  display: flex;
  gap: 10px;
}

/* .user img {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
} */

.user button {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.buttonTablet {
  position: absolute !important; /* Added !important to ensure specificity */
  bottom: 10px;
}

.search {
  border-bottom: 1px solid gray;
}

.searchForm {
  padding: 10px;
}

.searchForm input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.searchForm input::placeholder {
  color: lightgray;
}

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.userChat:hover {
  background-color: #2f2d52;
}

.selected {
  background-color: #ffffff14; /* Light blue background for the selected chat */
}

.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userChatInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userChatInfo span {
  font-size: 16px;
  font-weight: 500;
}

.userChatInfo p {
  font-size: 13px;
  color: lightgray;
  max-width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

/* Chat */
.chat {
  flex: 2;
}

.chatInfo {
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 10px;
  color: lightgray;
}

.placeholder {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f1f1f1;
  border: 1px solid;
  border-radius: 0 10px 10px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chatIcons {
  display: flex;
  gap: 10px;
}

.chatIcons img {
  height: 24px;
  cursor: pointer;
}

.messages {
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 100px);
  overflow: auto;
  scrollbar-width: none;
}

.message {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageContent p {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.messageContent img {
  width: 50%;
}

.messageOwner {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: row-reverse;
}

.messageOwner .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.messageOwner .messageContent p {
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
}

.messageBox {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.messageBox p{
  overflow-wrap: anywhere;
}

.input {
  height: 50px;
  background-color: white;
  padding: 5px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  color: #2f2d52;
  background-color: white;
  font-size: 18px;
}

.input input::placeholder {
  color: lightgray;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.previewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.previewWrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.previewImage {
  width: 50px; /* Adjust as necessary */
  height: 50px; /* Adjust as necessary */
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.previewVideoInput {
  width: 100px; /* Adjust as necessary */
  height: 50px; /* Adjust as necessary */
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.previewVideo{
  width: 100%; /* Adjust as necessary */
  height: 100%; /* Adjust as necessary */
  max-width: 80%;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.removeButton {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send img {
  height: 24px;
  cursor: pointer;
}

.send button {
  border: none;
  padding: 5px 10px;
  color: white;
  background-color: #8da4f1;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendButton {
  border-radius: 1rem;
  padding: 5px 10px !important;
  color: white !important;
  background-color: #8da4f1 !important;
  cursor: pointer;
}